[ req ]
default_bits           = 2048
distinguished_name     = req_distinguished_name
prompt                 = no


[ req_distinguished_name ]
C                      = CZ
ST                     = Prague
L                      = Prague
O                      = Organisation
OU                     = IT
CN                     = Name Surname
emailAddress           = name@surname.com
