// Header Dots

.header-dots {
  margin-left: auto;
  display: flex;

  & > .dropdown {
    display: flex;
    align-content: center;

    & > .btn-link {
      text-decoration: none;

      &::after {
        display: none;
      }
    }

    .dropdown-item {

      .flag {
        top: 0;
        position: absolute;
        @include border-radius($border-radius-lg);

        & + span {
          top: 0;
          padding-left: 50px;
        }
      }

      &:hover {
        .flag {
          top: 0;
          opacity: 1;
        }
      }
    }
  }

  .icon-wrapper-alt {
    margin: 0;
    height: 44px;
    width: 44px;
    text-align: center;
    overflow: visible;

    .language-icon {
      @include border-radius(3px);
      position: relative;
      top:0px;
      z-index: 4;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0 auto;

      .flag {
        transform: scale(0.5) !important;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .icon-wrapper-bg {
      opacity: .1;
      transition: opacity .2s;
      @include border-radius(3px);
    }

    i {
      font-size: 1.3rem;
    }

    &:hover {
      cursor: pointer;

      .icon-wrapper-bg {
        opacity: .2;
      }
    }

    .badge-dot {
      top: 1px;
      right: 1px;
      border: 0;
    }
  }
}